<div class="page-wrapper m-auto">
  <div class="page-inner">
    <div class="row">
      <div class="el-wrapper">
        <div class="box-up">
          <a (click)="navigateAndReload()" [routerLink]="['/product-details', product.id]"><img class="img img-fluid" [src]="product?.imageUrl" alt="" loading="lazy"></a>
          <div class="img-info">
            <div class="info-inner">
              <a (click)="navigateAndReload()" [routerLink]="['/product-details', product.id]"><span class="p-name">{{ product?.name }}</span></a>
              <span class="p-company">{{ product?.company }}</span>
            </div>
            <div class="a-size">Available sizes:
              <span class="size">{{ product?.sizes?.join(', ') }}</span>
            </div>
          </div>
        </div>
        <div class="box-down">
          <div class="h-bg">
            <div class="h-bg-inner"></div>
          </div>
          <a class="cart" href="#">
            <span class="price">${{ product?.price }}</span>
            <span class="add-to-cart">
              <span class="txt"><a href="" class="text-decoration-none text-light">Add to cart</a></span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
