#myBtn {
  display: none;
  position: fixed;
  z-index: 99;
  bottom: 3rem;
}

body {
  background: #111;
}

.arrowbtn {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #111;
  border: 2px solid black;
  border-radius: 100px;
  color: silver;
  cursor: pointer;
  right: 0;
  line-height: 100px;
  margin-left: -50px;
  transition: all 0.25s ease-in-out;
}

.arrowbtn:hover {
  background: #e5c07b;
  border-color: #e5c07b;
  color: #111;
}

.arrowbtn:after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  top: 55%;
  left: 55%;
}

.arrowbtn-up {
  bottom: 0;
}

.arrowbtn-up:after {
  margin-left: -12.5px;
  margin-top: -6.25px;
  border-top: 2px solid silver;
  border-left: 2px solid silver;  transform: rotateZ(45deg);
}

.arrowbtn:hover:after {
  border-top: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
}

