
<div class="">
  <nav class="navbar bg navbar-expand-md  " style="background-color: rgb(123, 122, 123);"  >
    <div class="container-fluid container">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo1.png" alt="Logo" width="40" height="40" class=" d-inline-block align-text-center rounded-3">
        <span class="fw-bolder text-uppercase ms-1 ">Suit ur self</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link button-86" href="#">MEN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link button-86" href="#">WOMEN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link button-86" href="#">KIDS</a>
          </li>
        </ul>
        <ul class="mb-2 mb-lg-0 list-unstyled">
          <li class="nav-item">
            <a class="nav-link button-86" href="#">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
