<div class="  " >
  <nav class="navbar  bg navbar-expand-sm  " style="background-color: rgb(123, 122, 123);"  >
    <div class="container ">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/logo1.png" alt="Logo" width="40" height="40" class=" d-inline-block align-text-center rounded-3">
        <span class="fw-bolder text-uppercase ms-1 ">Suit ur self</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link button-86" routerLink="/">HOME</a>

          </li>
          <li class="nav-item">
            <a class="nav-link button-86" routerLink="/all-products">PRODUCTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link button-86"routerLink="/about-us">ABOUT US</a>
          </li>
        </ul>
        <ul class="d-flex mb-2   mb-lg-0 list-unstyled">
          <li class="nav-item">
            <a class="nav-link button-86" routerLink="/app-cart"> <span>Cart</span><img height="50" width="50" class="img-fluid" src="assets/images/cart1.svg" alt=""> </a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary"
            [routerLink]="['/sign-up']"
            >
            <!-- data-bs-toggle="modal" data-bs-target="#exampleModalSign"  -->
              SignUp
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalSign" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Signup form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- start of modal body(The form) -->
      <div class="modal-body">
        <form [formGroup]="userForm">
          <div class="mb-3">
            <label for="full-name" class="form-label">Full name</label>
            <input type="text" class="form-control" formControlName="fullName">
            <div class="text-danger" *ngIf="userForm.controls['fullName'].invalid && (userForm.controls['fullName'].touched || userForm.controls['fullName'].dirty || isFormSubmitted)">
              <span *ngIf="userForm.controls['fullName'].errors?.['required']">Required field</span>
            </div>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            <div class="text-danger" *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].touched || userForm.controls['email'].dirty || isFormSubmitted)">
              <span *ngIf="userForm.controls['email'].errors?.['required']">Required field</span>
              <span *ngIf="userForm.controls['email'].errors?.['email']">Enter a valid email</span>
            </div>
          </div>

          <div class="mb-3">
            <label for="Address" class="form-label">Address</label>
            <input type="text" class="form-control" formControlName="address">
            <div class="text-danger" *ngIf="userForm.controls['address'].invalid && (userForm.controls['address'].touched || userForm.controls['address'].dirty || isFormSubmitted)">
              <span *ngIf="userForm.controls['address'].errors?.['required']">Required field</span>
            </div>
          </div>

          <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input  type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your phone number"  title="Phone number must be exactly 11 digits" formControlName="phoneNumber">
            <div class="text-danger" *ngIf="userForm.controls['phoneNumber'].invalid && (userForm.controls['phoneNumber'].touched || userForm.controls['phoneNumber'].dirty || isFormSubmitted)">
              <span *ngIf="userForm.controls['phoneNumber'].errors?.['required']">Required field</span>
              <span *ngIf="userForm.controls['phoneNumber'].errors?.['minlength'] || userForm.controls['phoneNumber'].errors?.['maxlength']">Must be a 11 digits valid number </span>
              <span *ngIf="userForm.controls['phoneNumber'].errors?.['pattern']">,only Numbers allowed</span>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Gender</label>
            <div class="d-flex gap-4">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="male" value="male" formControlName="gender" >
                <label class="form-check-label" for="male">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="female" value="female" formControlName="gender">
                <label class="form-check-label" for="female">
                  Female
                </label>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
            <div class="text-danger" *ngIf="userForm.controls['password'].invalid && (userForm.controls['password'].touched || userForm.controls['password'].dirty || isFormSubmitted)">
              <span *ngIf="userForm.controls['password'].errors?.['required']">Required field</span>
              <span *ngIf="userForm.controls['password'].errors?.['minlength']">password must be 6 characters at least</span>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="submitApp()">
            Signup
          </button>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <span>Have an account? <a href="">Sign in</a></span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showAlert" class="alert  ">
  Profile Done successfully
</div>

<style>
  /* Normal view styling */
  .nav-link {
    margin: 1rem 0; /* Normal spacing for desktop view */
    text-align: center;
  }

  /* Reduced spacing for collapsed view */
  .navbar-collapse.show .nav-link {
    margin: 0.25rem 0; /* Reduced spacing for mobile view */
  }
</style>
