

  <swiper-container class="mySwiper" keyboard="true"  style="cursor: pointer;"   space-between="0" autoplay-delay="2000" autoplay-disable-on-interaction="false" >
    <swiper-slide><a routerLink="/all-products"><img class="img-fluid w-100   " src="assets/images/slide1.jpg" alt=""></a></swiper-slide>
    <swiper-slide><a routerLink="/all-products"><img class="w-100  "  src="assets/images/slide-2.jpg" alt="Slide 1"></a></swiper-slide>
    <swiper-slide><a routerLink="/all-products"><img class="w-100  "  src="assets/images/slide3.jpg" alt="Slide 1"></a></swiper-slide>
  </swiper-container>
