  <!-- background-image: url(assets/images/about-us-bg.jpg); -->
  <div class=" about-us-wrapper mt-4 p-3 " style=" background-repeat: no-repeat; background-size: cover;  " >
    <div class="container">
    <div class="animated-text fs-3   text-uppercase d-flex justify-content-center">
   <span class=" ">about us </span>
</div>
<div class="text-wrapper">
  <p><span><img src="assets/images/paragraph.svg" width="50" height="50" alt=""></span> Founded in 2023, our brand blends fashion with individuality, offering a range of clothing that speaks to personal style. What began as a simple collection of essentials has grown to include diverse pieces, from casual wear to accessories. We actively engage with our community through social media, allowing customers to influence our designs and collections. Our brand identity is built on creativity, innovation, and self-expression, making our customers the true trendsetters. By turning ideas into wearable products, we create fashion that lets you express what you believe in. </p>
</div>
</div>
</div>
<app-about-us-caroussel />
<!-- about-us-bg -->
