<div class="container mt-5" *ngIf="product">
  <div class="row">
    <div class="col-md-6 d-flex  justify-content-center" style="height:80%" >
      <img [src]="product.imageUrl" class="img-fluid" alt="{{ product.name }}"   width="500px">
    </div>
    <div class="col-md-6">
      <h2>{{ product.name }}</h2>
      <p class="m-4 ms-0"> Product type : {{product.category}}</p>
      <h4 class="m-4 ms-0"><strong>Price: ${{ product.price }}</strong></h4>
      <h5 class="m-4 ms-0">Available sizes : {{ product?.sizes?.join(', ') }} </h5>
      <a data-bs-toggle="modal" data-bs-target="#exampleModal"><h6 class="sizechart"> Size-Chart</h6></a>
      <p class="m-4 ms-0">{{product.description}}</p>
      <div class="d-flex gap-3 ">
        <button class="button-57 rounded-3 text-nowrap" role="button" (click)="add(product)"><a class="text-decoration-none text-dark"><span class="text ">Add to cart</span><span>Add to cart</span></a></button>
        <button class="button-57 rounded-3 text-nowrap" role="button"><a class="text-decoration-none text-dark" [routerLink]="['/all-products']"><span class="text  ">Back to products</span><span>Back to products</span></a></button>
      </div>
      <!-- ---------------------------- reviews hena ----------------------------- -->
      <div class="caroussel-review">
       
      </div>
    </div>
  </div>
</div>

<div class="mt-5">
  <ng-container *ngIf="product" style="width: 100%;">
    <div *ngIf="product.category === 'men'">
      <img class="img-fluid" src="assets/images/DEPI_bar-men.jpg" alt="Men's Category Image">
    </div>
    <div *ngIf="product.category === 'women'">
      <img class="img-fluid" src="assets/images/DEPI_bar-women.jpg" alt="Women's Category Image">
    </div>
    <div *ngIf="product.category === 'kids'">
      <img class="img-fluid" src="assets/images/DEPI_bar-kids.jpg" alt="Kids' Category Image">
    </div>
    <div *ngIf="product.category !== 'men' && product.category !== 'women' && product.category !== 'kids'">
      <img src="" alt="Default Category Image">
    </div>
  </ng-container>
</div>

<div class="container d-flex flex-column flex-sm-row">
  <div class="row">
    <div class="col-12 col-s-4 col-lg-3 m-auto" *ngFor="let product of products | slice:4:8">
      <app-card (item)="addToCart($event)" [product]="product"></app-card>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 style="font-family: 'Open Sans'; " class=" animated-text fw-bold modal-title fs-3 " id="exampleModalLabel">Size Chart</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container img-wrapper img-fluid">
        <img src="assets/images/sizeChart.png" class="w-100 h-100"  alt="">
      </div>
      </div>
      <div class="modal-footer">
        <button class="button-57 rounded-3 text-nowrap" data-bs-dismiss="modal"  role="button"><a class="text-decoration-none text-dark"><span class="text  ">Close</span><span>Close</span></a></button>
      </div>
    </div>
  </div>
</div>


<!-- Alert message -->
<div *ngIf="showAlert" class="alert  ">
  Product added successfully!
</div>

