@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400..700&display=swap');
.animated-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  display: inline-block;
  padding-bottom: 5px; /* Space between the text and the line */
}

.animated-text{
  font-size: 34px;
  font-weight: 600;
}
.animated-text span{
  position: relative;
  display: inline-block;
  overflow-x: hidden;
  text-wrap: nowrap;
  width: 0;
  white-space: nowrap;
  animation: ss 0.7s alternate infinite, scaleUp 1s infinite ease-in-out;
}
@keyframes cursor {
  to{
      border-left: 2px solid #ff7f5000;
  }
}

@keyframes ss {
0%{
    width: 0;
}
100%{
    width: 330px;
    white-space: nowrap;

}

}
 
